Repository amrawadk/socializer: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, poetry-lock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args:
          [
            -i,
            --remove-all-unused-imports,
            --remove-unused-variables,
            --ignore-init-module-imports,
          ]
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: 'v5.6.4'
    hooks:
    -   id: isort
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: python
        pass_filenames: false
        files: pyproject.toml

feat: add given name to google contacts
  main.py
  main_get_people.py
  socializer/google_contacts/models.py
Due: pylint

feat: add prefix and error handling to google contacts
  socializer/google_contacts/errors.py
  socializer/google_contacts/models.py
Due: pylint

feat: add initial gender classifier
  main_gender_classification.py
Due: pylint

feat: add class for gender classification
  main_gender_classification.py
  poetry.lock
  pyproject.toml
  socializer/google_contacts/models.py
  socializer/models.py
  tests/google_contacts/test_google_person.py
Due: pylint, poetry-lock

feat: add class for gender classification
  Requirements.md
  main_get_contacts.py
  socializer/data_augmentation/__init__.py
  socializer/data_augmentation/gender_classifier.py
Due: pylint

feat: add updating gender
  socializer/google_contacts/errors.py
  socializer/google_contacts/manager.py
  socializer/google_contacts/models.py
  socializer/models.py
  tests/google_contacts/test_google_contacts_manager.py
  tests/google_contacts/test_google_person.py
Due: pylint

feat: update gender for a full group based on predections
  .mypy.ini
  .pre-commit-config.yaml
  main_gender_classification.py
  socializer/google_contacts/manager.py
  socializer/google_contacts/models.py
  socializer/models.py
  tests/google_contacts/test_google_contacts_manager.py
Due: pylint

feat: add initial message template
  .mypy.ini
  Requirements.md
  main_template.py
  poetry.lock
  pyproject.toml
  template.txt
Due: pylint, poetry-lock

feat: add interactive cli to set gender
  .mypy.ini
  main_gender_classification.py
  poetry.lock
  pyproject.toml
  socializer/cli/main.py
Due: pylint, poetry-lock

feat: add cli command to export contacts
  main_get_contacts.py
  socializer/cli/main.py
Due: pylint

feat: add cli command to export people
  main_get_people.py
  socializer/cli/main.py
Due: pylint

refactor: move isort config to pyproject.toml
  .gitignore
  .isort.cfg
  pyproject.toml
Due: poetry-lock

docs: add initial docs
  docs/index.md
  docs/roadmap.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: poetry-lock

feat: add pronoun for contacts with prefix in template
  Requirements.md
  template.txt
Due: none

feat: package cli and add autogenerated cli docs
  .gitignore
  Makefile
  README.md
  Requirements.md
  docs/cli.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  socializer/cli/main.py
Due: pylint, poetry-lock

feat: add filtering audience on non-null fields
  Requirements.md
  socializer/cli/main.py
Due: pylint

feat: add filtering audience by arabic only names
  .mypy.ini
  poetry.lock
  pyproject.toml
  socializer/cli/main.py
Due: pylint, poetry-lock

feat: add checking people for arabic only names in groups
  socializer/cli/main.py
Due: pylint

feat: add full_name to Contacts
  .mypy.ini
  socializer/google_contacts/models.py
  socializer/models.py
  tests/google_contacts/test_google_person.py
Due: pylint

feat: add progress indicator to gender fixing flow
  Requirements.md
  main_template.py
  socializer/cli/main.py
Due: pylint

feat: add working example of sending messages
  main_template.py
  send_messages.py
  template.txt
Due: pylint

feat: add 'campaign' subcommand
  socializer/cli/__init__.py
  socializer/cli/campaign.py
  socializer/cli/main.py
  socializer/cli/utils.py
Due: pylint

feat: add subcommand for message generation
  main_template.py
  socializer/cli/campaign.py
Due: pylint

feat: add subcommand for sending whatsapp messages
  Requirements.md
  send_messages.py
  socializer/cli/campaign.py
Due: pylint

feat: update documentation with 'campaign' subcommand
  Requirements.md
  docs/cli.md
Due: none

docs: add initial 'how it works' page
  Makefile
  Requirements.md
  docs/cli.md
  docs/how-it-works.md
  docs_src/message_template/contacts.csv
  docs_src/message_template/contacts.md
  docs_src/message_template/messages.csv
  docs_src/message_template/messages.md
  docs_src/message_template/render.sh
  docs_src/message_template/template.txt
  mkdocs.yml
  poetry.lock
  pyproject.toml
  scripts/generate_markdown_tables.sh
  socializer/cli/campaign.py
  socializer/google_contacts/manager.py
  socializer/models.py
Due: pylint, poetry-lock

fix: handle failure to send whatsapp messages
  socializer/cli/campaign.py
Due: pylint

feat: accept gender recommendation with probability > 90
  socializer/cli/main.py
Due: pylint

feat: uaccept multiple group names for 'analyze-group' command
  socializer/cli/main.py
Due: pylint

fix: lower load timeout for whatsapp messages
  socializer/whatsapp_manager.py
Due: pylint

feat: update message template for family
  template.txt
Due: none

feat: accept multiple group names for 'generate-audience' command
  socializer/cli/campaign.py
Due: pylint

feat: add nickname as optional property in Contact
  socializer/google_contacts/manager.py
  socializer/google_contacts/models.py
  socializer/models.py
  template.txt
Due: pylint

fdocs: add a todo file with planned tasks
  Requirements.md
  docs/setup.md
  plan.todo
  poetry.lock
  pyproject.toml
Due: poetry-lock

feat: add netlify configuration
  docs/cli.md
  mkdocs.yml
  netlify.toml
  runtime.txt
Due: none

fix: update python version for netlify
  poetry.lock
  pyproject.toml
  runtime.txt
Due: poetry-lock

fix: update docs build command
  netlify.toml
  runtime.txt
  socializer/google_contacts/models.py
Due: pylint

feat: extract generate_audience_command into services
  socializer/cli/campaign.py
  socializer/models.py
  socializer/services.py
Due: pylint

refactor: rconsolidate all contact filters
  socializer/cli/campaign.py
  socializer/cli/main.py
  socializer/cli/utils.py
  socializer/models.py
  socializer/services.py
Due: pylint

misc: committing all work
  close_template.txt
  config.py
  config.yaml
  family_template.txt
  genderapi_cache.sqlite
  notes.md
  plan.todo
  poetry.lock
  pyproject.toml
  socializer/cli/campaign.py
  socializer/models.py
  socializer/services.py
  socializer/whatsapp_manager.py
  tests/test_template.py
Due: pylint, poetry-lock
