Repository amrawadk/socializer: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, poetry-lock

pylint:
  name: pylint
  entry: pylint
  language: python

poetry-lock:
  name: poetry-lock
  entry: poetry lock
  language: python
  pass_filenames: false

frefactor: move main commands into a command group
  docs/cli.md
  socializer/cli/main.py
Due: pylint

feat: update templates
  config.yaml
  genderapi_cache.sqlite
  socializer/cli/campaign.py
  socializer/whatsapp_manager.py
  templates/eid_adha/close_template.mako
  templates/eid_adha/family_template.mako
  templates/eid_adha/template.mako
  templates/eid_fetr/close_template.mako
  templates/eid_fetr/family_template.mako
  templates/eid_fetr/template.mako
Due: pylint

fix: handle missing country code by defaulting to Egypt
  socializer/whatsapp_manager.py
Due: pylint

feat: add richer documentation
  README.md
Due: none

feat: add ramadan templates
  config.yaml
  templates/ramadan/close_template.mako
  templates/ramadan/family_template.mako
  templates/ramadan/template.mako
Due: none

feat: add pagination to gcontacts.get_people
  .pre-commit-config.yaml
  socializer/google_contacts/manager.py
  tests/google_contacts/test_google_contacts_manager.py
Due: pylint

fix: handle exceptions for parsing issues
  socializer/google_contacts/models.py
Due: pylint

feat: add groups to GooglePerson model
  socializer/google_contacts/manager.py
  socializer/google_contacts/models.py
  tests/google_contacts/test_google_contacts_manager.py
Due: pylint

feat: simplify get_people_in_group by performing filteration locally
  socializer/google_contacts/manager.py
  socializer/google_contacts/models.py
Due: pylint

WIP
  socializer/models.py
  socializer/services.py
  tests/services/test_contact_management.py
Due: pylint

feat: add initial version of group analyzer
  .gitignore
  poetry.lock
  pyproject.toml
  socializer/cli/main.py
  socializer/google_contacts/manager.py
  tests/google_contacts/test_google_contacts_manager.py
Due: pylint, poetry-lock

refactor: replace selenium with playwright
  poetry.lock
  pyproject.toml
  socializer/whatsapp_manager.py
Due: pylint, poetry-lock

fix: only create messages for contacts with a phone number
  config.py
Due: pylint

feat: update config to eid adha
  config.yaml
Due: none

fix: handle failed gender predection
  plan.todo
  socializer/data_augmentation/gender_classifier.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  poetry-lock: any of: pyproject.toml
